<?xml version="1.0" ?>
<robot name="wheelchair" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="pole_joint" type="fixed">
    <origin xyz="0.0 -0.362 0.205" rpy="0.0 0.0 0.0"/>
    <parent link="frame_link"/>
    <child link="pole_link"/>
    <!-- prismatic add-ins -->
    <!-- <axis xyz="0 0 0"/>
    <limit lower="-1.0" upper="1.0" effort="10.0" velocity="1.0"/> -->
  </joint>

  <link name="pole_link">
    <inertial>
      <origin xyz="0.0 0.0 0.25" rpy="0.0 0.0 0.0"/>
      <mass value="0.5"/> <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.25" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.02" length="0.5"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.25" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.02" length="0.5"/>
      </geometry>
    </collision>
  </link>

<!-- pole to lidar -->
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.0 0.0 0.549" rpy="0.0 0.0 0.0"/>
    <parent link="pole_link"/>
    <child link="lidar_link"/>
    <!-- prismatic add-ins -->
    <!-- <axis xyz="0 1 0" rpy="0 0 0"/> -->
    <!-- <limit lower="-1.0" upper="1.0" effort="10.0" velocity="1.0"/> -->
  </joint>

  <link name="lidar_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.3"/>
      <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0004" iyz="0.0" izz="0.0005"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.06"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="lidar_link">
    <sensor type="gpu_lidar" name="generic_lidar">
      <update_rate>10.0</update_rate> 
      <topic>scan</topic> 
      <gz_frame_id>lidar_link</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>640</samples>
            <resolution>1</resolution>
            <min_angle>-3.141592</min_angle> <max_angle>3.141592</max_angle>
          </horizontal>
          <vertical>
            <samples>64</samples>
            <resolution>1</resolution>
            <min_angle>-0.521799</min_angle> <max_angle>0.261799</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.08</min>  <max>12.0</max>  <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <visualize>true</visualize> </sensor>
  </gazebo>

</robot>